
    <div class="card" [formGroup]="addressForm">
        <div>
            <label for="street">Street: </label>
            <input id="street" type="text" formControlName="street">
        </div>
        <div>
            <label for="city">City: </label>
            <input id="city" type="text" formControlName="city">
        </div>
        <div>
            <label for="state">State: </label>
            <input id="state" type="text" formControlName="state">
        </div>
        <div>

            <label for="zip">Zip Code: </label>
            <input id="zip" type="text" formControlName="zip">
        </div>
    </div>
<!-- <pre>{{addressForm.value|json}}</pre> -->