<div [formGroup]="$any(addressListForm)">
    <h3>Address List</h3>
    <button type="button" (click)="addAddress()">+ Add Address</button>
    <div *ngFor="let address of addressListForm.controls; let i=index">
        <label>Address</label>
        <button (click)="removeAddress(i)">-</button>
        <!-- <div [formGroupName]="i">
            <pre>{{i|json}}</pre>
        </div> -->
        <app-address-cva [formControlName]="i"></app-address-cva>
        <br>
    </div>
</div>
<!-- <pre>{{addressListForm.value|json}}</pre> -->